@font-face {
    font-family: monserrat_bold;
    src: url('../fonts/Montserrat-Bold.ttf'); 
}
@font-face {
    font-family: monserrat;
    src: url('../fonts/Montserrat-Regular.ttf'); 
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: monserrat;
}
::-webkit-scrollbar {
    display: none;
}

.contenedor-general{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background-color: transparent;
    height: 100vh;
    grid-template-areas:
    "area1 area1 area1 area1 area2 area2 area2 area2"
    "area1 area1 area1 area1 area2 area2 area2 area2"; 
}

.contenedor-central{
    grid-area: area1;
    background-color: transparent;
    position: relative;
}
    
.contenedor-secundario{
    grid-area: area2;
    background-color: transparent;
    position: relative;
}   
    form{
        box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.2);
        padding: 20px;
        border-radius: 20px;
        display: grid;
        width: 60%;
        margin: 150px auto 0px;
        grid-template-areas:
            "area3"
            "."
            "area4"
            "area5"
            "area6"
            "area7";
    }
    .div1{
        border-radius: 20px;
        /*border: #0074C5 solid 2px;*/
        background-color: #d1d7e0;
        padding: 10px 20px 10px 40px ;
        width: 95%;
        margin: 10px auto 20px;
        text-align: left;
        font-size: 16px;
    }
    .flex{
        display: flex;
        width: 100%;
    }

    .negrita{
        font-weight: bold;
        margin-right: 5px;
        width: 50%;
    }

    .derecha{
        margin-left: 50px;
    }
    .div2{
        border-radius: 20px;
        background: #ebf199;
        /*border: #17c500 solid 2px;*/
        padding: 20px 20px 20px 40px ;
        width: 95%;
        margin: 10px auto 20px;
        text-align: left;
        font-size: 16px;
    }

    .div3{
        border-radius: 20px;
        /*background: #ebf199;*/
        border: #b9bab9 solid 0.5px;
        padding: 20px 20px 20px 40px ;
        width: 95%;
        margin: 10px auto 0px;
        text-align: left;
        font-size: 16px;
    }

    .div4{
        border-radius: 20px;
        /*background: #ebf199;*/
        border: #b9bab9 solid 0.5px;
        padding: 20px 20px 20px 40px ;
        width: 95%;
        margin: 10px auto 0px;
        text-align: left;
        font-size: 16px;
    }
    
    label{
        z-index: 2;
    }
    .img-secun{
        width: 50%;
        position:absolute; 
        top:0; 
        z-index: 1;
        right: 0;
    }

    .img-secun-refe{
        width: 100%;
        margin: 50px auto -130px;
        text-align: center;
    }
    .titulo{
        font-size: 60px;
        text-align: center;
        color: #d1d7e0;
        font-family: monserrat_bold !important;
    }
    .botones{
        width: 60%;
        margin: 25px auto 0px;
    }

    .btn1,.btn2{
        padding: 10px 5px;
        height: 40px;
        width: 150px;
        border-radius: 15px;
        border: transparent ;
        color: white;
        cursor: pointer;
    }
    .btn1{
        background: #f46060;
        font-size: 13px;
    }
    .btn2{
        background: #0074c8;
        float: right;
        font-size: 16px;
    }
   
@media (max-width: 1500px){
    *{
        font-size: 14px;
    }
    .img-secun-refe{
        width: 100%;
        margin: 10px auto -140px;
        text-align: center;
    }
    .titulo{
        font-size: 55px;
    }
    form{
        padding: 10px 15px;
    }
    .derecha{
        margin-left: 50px;
        margin-top: -10px;
    }
    .botones{
        width: 60%;
        margin: 10px auto 0px;
    }
    .div1{
        margin: 0px auto 20px;
    }
}
    /*
    @media (max-width: 750px) {
        
        
    }
    
    @media (max-width: 600px) {
    
        
    
    }
    
    @media screen and (max-width: 770px){
        
    
    }
    
    @media screen and (max-width: 600px){
        
    }
    */
