body, html {
    background: grey;
    height: 100%;

}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-box {
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 20px;
    width: 60%;
    background: white;
    text-align: center;
}

.form-tittle {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}